/* sidebar.css */

/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 250px;
    background-color: #7869B5;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #ddd;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
}

.sidebar ul li a:hover {
    background-color:#e96852; 
    color: white ;
}

.sidebar h2 {
    text-align: center;
    color: #fff;
}

/* Main Content Styles */
.main-content {
    margin-left: 250px; /* Adjust for the sidebar width */
    padding: 20px;
    box-sizing: border-box;
}
.confirm-button {
    background-color: #007BFF; /* Blue color */
    color: white; /* White text */
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
}

.confirm-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
